# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [1]:
!pip install duckdb duckdb-engine jupysql sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb in c:\users\selim\appdata\roaming\python\python311\site-packages (1.0.0)
Requirement already satisfied: duckdb-engine in c:\users\selim\appdata\roaming\python\python311\site-packages (0.13.0)
Requirement already satisfied: jupysql in c:\users\selim\appdata\roaming\python\python311\site-packages (0.10.12)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: packaging>=21 in c:\programdata\anaconda3\lib\site-packages (from duckdb-engine) (23.1)
Requirement already satisfied: prettytable in c:\users\selim\appdata\roaming\python\python311\site-packages (from jupysql) (3.10.2)
Requirement already satisfied: sqlparse in c:\users\selim\appdata\roaming\python\python311\site-packages (from jupysql) (0.5.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from jupysql) (3.1.2)
Requirement already satisfied: sqlglot>=11.3.7 in c:\users\selim\appdata\roaming\python\python311\site-packages (from jupysql) (25.6.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in c:\users\selim\appdata\roaming\python\python311\site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\selim\appdata\roaming\python\python311\site-packages (from jupysql) (0.2.25)
Requirement already satisfied: ploomber-extension in c:\users\selim\appdata\roaming\python\python311\site-packages (from jupysql) (0.1.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: pyyaml in c:\programdata\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0)
Requirement already satisfied: posthog in c:\users\selim\appdata\roaming\python\python311\site-packages (from ploomber-core>=0.2.7->jupysql) (3.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from jinja2->jupysql) (2.1.1)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: requests<3.0,>=2.7 in c:\programdata\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\selim\appdata\roaming\python\python311\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\selim\appdata\roaming\python\python311\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\programdata\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)

In [9]:
import csv, sqlite3
import pandas as pd 

conn = sqlite3.connect("FinalDB.db")
cur = con.cursor()

Load the SQL magic module

In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [12]:
# URLs for the data files
census_data_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01'
schools_data_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01'
crime_data_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01'

# Load the data into pandas dataframes
census_df = pd.read_csv(census_data_url)
schools_df = pd.read_csv(schools_data_url)
crime_df = pd.read_csv(crime_data_url)

# Write the dataframes to the SQLite database
census_df.to_sql("CENSUS_DATA", conn, if_exists='replace', index=False, method="multi")
schools_df.to_sql("CHICAGO_PUBLIC_SCHOOLS", conn, if_exists='replace', index=False, method="multi")
crime_df.to_sql("CHICAGO_CRIME_DATA", conn, if_exists='replace', index=False, method="multi")

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [13]:
# Connect to the SQLite database
%sql sqlite:///FinalDB.db

Connecting to 'sqlite:///FinalDB.db'

In [17]:
%%sql
SELECT *
FROM CENSUS_DATA;

Running query in 'sqlite:///FinalDB.db'

+-----------------------+---------------------+----------------------------+----------------------------------+-----------------------------+----------------------------------------------+----------------------------------+-------------------+----------------+
| COMMUNITY_AREA_NUMBER | COMMUNITY_AREA_NAME | PERCENT_OF_HOUSING_CROWDED | PERCENT_HOUSEHOLDS_BELOW_POVERTY | PERCENT_AGED_16__UNEMPLOYED | PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA | PERCENT_AGED_UNDER_18_OR_OVER_64 | PER_CAPITA_INCOME | HARDSHIP_INDEX |
+-----------------------+---------------------+----------------------------+----------------------------------+-----------------------------+----------------------------------------------+----------------------------------+-------------------+----------------+
|          1.0          |     Rogers Park     |            7.7             |               23.6               |             8.7             |                     18.2                     |               27.5               |       23939       |      39.0      |
|          2.0          |      West Ridge     |            7.8             |               17.2               |             8.8             |                     20.8                     |               38.5               |       23040       |      46.0      |
|          3.0          |        Uptown       |            3.8             |               24.0               |             8.9             |                     11.8                     |               22.2               |       35787       |      20.0      |
|          4.0          |    Lincoln Square   |            3.4             |               10.9               |             8.2             |                     13.4                     |               25.5               |       37524       |      17.0      |
|          5.0          |     North Center    |            0.3             |               7.5                |             5.2             |                     4.5                      |               26.2               |       57123       |      6.0       |
|          6.0          |      Lake View      |            1.1             |               11.4               |             4.7             |                     2.6                      |               17.0               |       60058       |      5.0       |
|          7.0          |     Lincoln Park    |            0.8             |               12.3               |             5.1             |                     3.6                      |               21.5               |       71551       |      2.0       |
|          8.0          |   Near North Side   |            1.9             |               12.9               |             7.0             |                     2.5                      |               22.6               |       88669       |      1.0       |
|          9.0          |     Edison Park     |            1.1             |               3.3                |             6.5             |                     7.4                      |               35.3               |       40959       |      8.0       |
|          10.0         |     Norwood Park    |            2.0             |               5.4                |             9.0             |                     11.5                     |               39.5               |       32875       |      21.0      |
+-----------------------+---------------------+----------------------------+----------------------------------+-----------------------------+----------------------------------------------+----------------------------------+-------------------+----------------+
Truncated to displaylimit of 10.

In [18]:
%%sql
SELECT *
FROM CHICAGO_PUBLIC_SCHOOLS;

Running query in 'sqlite:///FinalDB.db'

+-----------+-----------------------------------------------------------------+------------------------------------+-----------------------+---------+-------+----------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+------------------------------------+--------------------------------+----------------+-------------------------------+------------------------------+--------------------------+-------------+--------------+-------------------------+--------------------------+------------------+-------------------+------------------+-------------------+--------------+---------------+---------------+----------------+------------------------+-------------------------+-------------------------+--------------------------+----------------------------+----------------------------------------+----------------------------+--------------------------------------------------+-----------------+-------------+--------------------------+--------------------------+------------------------+------------------------+--------------------------+--------------------------+-----------------------+------------------------+---------------------+---------------------+-----------------------+--------------------------+---------------------+---------------------+---------------------------+---------------------------+----------------------------+-----------------------------+--------------------------+--------------------------+------------------------+------------------------+-----------------------------+-------------------------------+-------------------------+-----------------------+-------------------+---------------------------+--------------------+------------------------+--------------------------+--------------+--------------+-------------+--------------+-----------------------+---------------------+------+-----------------+-----------------------------+
| School_ID |                          NAME_OF_SCHOOL                         | Elementary, Middle, or High School |     Street_Address    |   City  | State | ZIP_Code |  Phone_Number  |                                                                                    Link                                                                                   |             Network_Manager              |         Collaborative_Name         | Adequate_Yearly_Progress_Made_ | Track_Schedule | CPS_Performance_Policy_Status | CPS_Performance_Policy_Level | HEALTHY_SCHOOL_CERTIFIED | Safety_Icon | SAFETY_SCORE | Family_Involvement_Icon | Family_Involvement_Score | Environment_Icon | Environment_Score | Instruction_Icon | Instruction_Score | Leaders_Icon | Leaders_Score | Teachers_Icon | Teachers_Score | Parent_Engagement_Icon | Parent_Engagement_Score | Parent_Environment_Icon | Parent_Environment_Score | AVERAGE_STUDENT_ATTENDANCE | Rate_of_Misconducts__per_100_students_ | Average_Teacher_Attendance | Individualized_Education_Program_Compliance_Rate | Pk_2_Literacy__ | Pk_2_Math__ | Gr3_5_Grade_Level_Math__ | Gr3_5_Grade_Level_Read__ | Gr3_5_Keep_Pace_Read__ | Gr3_5_Keep_Pace_Math__ | Gr6_8_Grade_Level_Math__ | Gr6_8_Grade_Level_Read__ | Gr6_8_Keep_Pace_Math_ | Gr6_8_Keep_Pace_Read__ | Gr_8_Explore_Math__ | Gr_8_Explore_Read__ | ISAT_Exceeding_Math__ | ISAT_Exceeding_Reading__ | ISAT_Value_Add_Math | ISAT_Value_Add_Read | ISAT_Value_Add_Color_Math | ISAT_Value_Add_Color_Read | Students_Taking__Algebra__ | Students_Passing__Algebra__ | 9th Grade EXPLORE (2009) | 9th Grade EXPLORE (2010) | 10th Grade PLAN (2009) | 10th Grade PLAN (2010) | Net_Change_EXPLORE_and_PLAN | 11th Grade Average ACT (2011) | Net_Change_PLAN_and_ACT | College_Eligibility__ | Graduation_Rate__ | College_Enrollment_Rate__ | COLLEGE_ENROLLMENT | General_Services_Route | Freshman_on_Track_Rate__ | X_COORDINATE | Y_COORDINATE |   Latitude  |  Longitude   | COMMUNITY_AREA_NUMBER | COMMUNITY_AREA_NAME | Ward | Police_District |           Location          |
+-----------+-----------------------------------------------------------------+------------------------------------+-----------------------+---------+-------+----------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+------------------------------------+--------------------------------+----------------+-------------------------------+------------------------------+--------------------------+-------------+--------------+-------------------------+--------------------------+------------------+-------------------+------------------+-------------------+--------------+---------------+---------------+----------------+------------------------+-------------------------+-------------------------+--------------------------+----------------------------+----------------------------------------+----------------------------+--------------------------------------------------+-----------------+-------------+--------------------------+--------------------------+------------------------+------------------------+--------------------------+--------------------------+-----------------------+------------------------+---------------------+---------------------+-----------------------+--------------------------+---------------------+---------------------+---------------------------+---------------------------+----------------------------+-----------------------------+--------------------------+--------------------------+------------------------+------------------------+-----------------------------+-------------------------------+-------------------------+-----------------------+-------------------+---------------------------+--------------------+------------------------+--------------------------+--------------+--------------+-------------+--------------+-----------------------+---------------------+------+-----------------+-----------------------------+
|   610038  |                Abraham Lincoln Elementary School                |                 ES                 |    615 W Kemper Pl    | Chicago |   IL  |  60614   | (773) 534-5720 | <a href=http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf>http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf</a> |       Fullerton Elementary Network       | NORTH-NORTHWEST SIDE COLLABORATIVE |               No               |    Standard    |        Not on Probation       |           Level 1            |           Yes            | Very Strong |     99.0     |       Very Strong       |            99            |      Strong      |        74.0       |      Strong      |        66.0       |     Weak     |       65      |     Strong    |       70       |         Strong         |            56           |         Average         |            47            |           96.00%           |                  2.0                   |           96.40%           |                      95.80%                      |       80.1      |     43.3    |           89.6           |           84.9           |          60.7          |          62.6          |           81.9           |           85.2           |           52          |          62.4          |         66.3        |         77.9        |          69.7         |           64.4           |         0.2         |         0.9         |           Yellow          |           Green           |            67.1            |             54.5            |           NDA            |           NDA            |          NDA           |          NDA           |             NDA             |              NDA              |           NDA           |          NDA          |        NDA        |            NDA            |        813         |           33           |           NDA            | 1171699.458  | 1915829.428  | 41.92449696 | -87.64452163 |           7           |     LINCOLN PARK    |  43  |        18       | (41.92449696, -87.64452163) |
|   610281  | Adam Clayton Powell Paideia Community Academy Elementary School |                 ES                 | 7511 S South Shore Dr | Chicago |   IL  |  60649   | (773) 535-6650 | <a href=http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf>http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf</a> |        Skyway Elementary Network         |      SOUTH SIDE COLLABORATIVE      |               No               |    Track_E     |        Not on Probation       |           Level 1            |            No            |   Average   |     54.0     |          Strong         |            66            |      Strong      |        74.0       |   Very Strong    |        84.0       |     Weak     |       63      |     Strong    |       76       |          Weak          |            46           |         Average         |            50            |           95.60%           |                  15.7                  |           95.30%           |                     100.00%                      |       62.4      |     51.7    |           21.9           |           15.1           |           29           |          42.8          |           38.5           |           27.4           |          44.8         |          42.7          |         14.1        |         34.4        |          16.8         |           16.5           |         0.7         |         1.4         |           Green           |           Green           |            17.2            |             27.3            |           NDA            |           NDA            |          NDA           |          NDA           |             NDA             |              NDA              |           NDA           |          NDA          |        NDA        |            NDA            |        521         |           46           |           NDA            | 1196129.985  | 1856209.466  | 41.76032435 | -87.55673627 |           43          |     SOUTH SHORE     |  7   |        4        | (41.76032435, -87.55673627) |
|   610185  |               Adlai E Stevenson Elementary School               |                 ES                 |   8010 S Kostner Ave  | Chicago |   IL  |  60652   | (773) 535-2280 | <a href=http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf>http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf</a> |        Midway Elementary Network         |    SOUTHWEST SIDE COLLABORATIVE    |               No               |    Standard    |        Not on Probation       |           Level 2            |            No            |    Strong   |     61.0     |           NDA           |           NDA            |     Average      |        50.0       |       Weak       |        36.0       |     Weak     |      NDA      |      NDA      |      NDA       |        Average         |            47           |           Weak          |            41            |           95.70%           |                  2.3                   |           94.70%           |                      98.30%                      |       53.7      |     26.6    |           38.3           |           34.7           |          43.7          |          57.3          |           48.8           |           39.2           |          46.8         |           44           |         7.5         |         21.9        |          18.3         |           15.5           |         -0.9        |         -1.0        |            Red            |            Red            |            NDA             |             NDA             |           NDA            |           NDA            |          NDA           |          NDA           |             NDA             |              NDA              |           NDA           |          NDA          |        NDA        |            NDA            |        1324        |           44           |           NDA            | 1148427.165  | 1851012.215  | 41.74711093 | -87.73170248 |           70          |       ASHBURN       |  13  |        8        | (41.74711093, -87.73170248) |
|   609993  |                 Agustin Lara Elementary Academy                 |                 ES                 |   4619 S Wolcott Ave  | Chicago |   IL  |  60609   | (773) 535-4389 | <a href=http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf>http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf</a> |       Pershing Elementary Network        |    SOUTHWEST SIDE COLLABORATIVE    |               No               |    Track_E     |        Not on Probation       |           Level 1            |            No            |   Average   |     56.0     |         Average         |            44            |     Average      |        45.0       |       Weak       |        37.0       |     Weak     |       65      |    Average    |       48       |        Average         |            53           |          Strong         |            58            |           95.50%           |                  10.4                  |           95.80%           |                     100.00%                      |       76.9      |     NDA     |            26            |           24.7           |          61.8          |          49.7          |           39.2           |           27.2           |          69.7         |          60.6          |         9.1         |         18.2        |          11.1         |           9.6            |         0.9         |         2.4         |           Green           |           Green           |            42.9            |              25             |           NDA            |           NDA            |          NDA           |          NDA           |             NDA             |              NDA              |           NDA           |          NDA          |        NDA        |            NDA            |        556         |           42           |           NDA            |  1164504.29  | 1873959.199  |  41.8097569 | -87.6721446  |           61          |       NEW CITY      |  20  |        9        |  (41.8097569, -87.6721446)  |
|   610513  |                  Air Force Academy High School                  |                 HS                 |    3630 S Wells St    | Chicago |   IL  |  60609   | (773) 535-1590 | <a href=http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf>http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf</a> |    Southwest Side High School Network    |    SOUTHWEST SIDE COLLABORATIVE    |              NDA               |    Standard    |        Not on Probation       |       Not Enough Data        |           Yes            |   Average   |     49.0     |          Strong         |            60            |      Strong      |        60.0       |     Average      |        55.0       |     Weak     |       45      |    Average    |       54       |        Average         |            53           |         Average         |            49            |           93.30%           |                  15.6                  |           96.90%           |                     100.00%                      |       NDA       |     NDA     |           NDA            |           NDA            |          NDA           |          NDA           |           NDA            |           NDA            |          NDA          |          NDA           |         NDA         |         NDA         |          None         |           None           |         None        |         None        |            NDA            |            NDA            |            NDA             |             NDA             |           14.6           |           14.8           |          NDA           |           16           |             1.4             |              NDA              |           NDA           |          NDA          |        NDA        |            NDA            |        302         |           40           |           91.8           | 1175177.622  | 1880745.126  | 41.82814609 | -87.63279369 |           34          |    ARMOUR SQUARE    |  11  |        9        | (41.82814609, -87.63279369) |
|   610212  |                Albany Park Multicultural Academy                |                 MS                 |   4929 N Sawyer Ave   | Chicago |   IL  |  60625   | (773) 534-5108 | <a href=http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610212.pdf>http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610212.pdf</a> |        O'Hare Elementary Network         | NORTH-NORTHWEST SIDE COLLABORATIVE |              Yes               |    Standard    |        Not on Probation       |           Level 1            |            No            |    Strong   |     66.0     |           Weak          |            37            |      Strong      |        66.0       |      Strong      |        71.0       |     Weak     |       43      |    Average    |       50       |          Weak          |            46           |         Average         |            51            |           97.00%           |                  2.3                   |           96.90%           |                     100.00%                      |       NDA       |     NDA     |           NDA            |           NDA            |          NDA           |          NDA           |           60.7           |           39.8           |          53.7         |          59.8          |         17.5        |         20.8        |          34.5         |           15.6           |         0.2         |         0.3         |           Yellow          |           Yellow          |            29.2            |              50             |           NDA            |           NDA            |          NDA           |          NDA           |             NDA             |              NDA              |           NDA           |          NDA          |        NDA        |            NDA            |        266         |           31           |           NDA            | 1153858.196  | 1932691.891  |  41.9711433 | -87.70962725 |           14          |     ALBANY PARK     |  39  |        17       |  (41.9711433, -87.70962725) |

In [19]:
%%sql
SELECT *
FROM CHICAGO_CRIME_DATA;

Running query in 'sqlite:///FinalDB.db'

+----------+-------------+------------+--------------------------+------+--------------+-------------------------------+--------------------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+
|    ID    | CASE_NUMBER |    DATE    |          BLOCK           | IUCR | PRIMARY_TYPE |          DESCRIPTION          |      LOCATION_DESCRIPTION      | ARREST | DOMESTIC | BEAT | DISTRICT | WARD | COMMUNITY_AREA_NUMBER | FBICODE | X_COORDINATE | Y_COORDINATE | YEAR |   LATITUDE  |  LONGITUDE   |            LOCATION           |
+----------+-------------+------------+--------------------------+------+--------------+-------------------------------+--------------------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+
| 3512276  |   HK587712  | 2004-08-28 |    047XX S KEDZIE AVE    | 890  |    THEFT     |         FROM BUILDING         |       SMALL RETAIL STORE       |   0    |    0     | 911  |    9     | 14.0 |          58.0         |    6    |  1155838.0   |  1873050.0   | 2004 |  41.8074405 | -87.70395585 |  (41.8074405, -87.703955849)  |
| 3406613  |   HK456306  | 2004-06-26 | 009XX N CENTRAL PARK AVE | 820  |    THEFT     |         $500 AND UNDER        |             OTHER              |   0    |    0     | 1112 |    11    | 27.0 |          23.0         |    6    |  1152206.0   |  1906127.0   | 2004 | 41.89827996 | -87.71640551 | (41.898279962, -87.716405505) |
| 8002131  |   HT233595  | 2011-04-04 |    043XX S WABASH AVE    | 820  |    THEFT     |         $500 AND UNDER        |  NURSING HOME/RETIREMENT HOME  |   0    |    0     | 221  |    2     | 3.0  |          38.0         |    6    |  1177436.0   |  1876313.0   | 2011 | 41.81593313 | -87.62464213 | (41.815933131, -87.624642127) |
| 7903289  |   HT133522  | 2010-12-30 |   083XX S KINGSTON AVE   | 840  |    THEFT     | FINANCIAL ID THEFT: OVER $300 |           RESIDENCE            |   0    |    0     | 423  |    4     | 7.0  |          46.0         |    6    |  1194622.0   |  1850125.0   | 2010 | 41.74366532 | -87.56246276 | (41.743665322, -87.562462756) |
| 10402076 |   HZ138551  | 2016-02-02 |     033XX W 66TH ST      | 820  |    THEFT     |         $500 AND UNDER        |             ALLEY              |   0    |    0     | 831  |    8     | 15.0 |          66.0         |    6    |  1155240.0   |  1860661.0   | 2016 |  41.7734553 | -87.70648047 | (41.773455295, -87.706480471) |
| 7732712  |   HS540106  | 2010-09-29 |   006XX W CHICAGO AVE    | 810  |    THEFT     |           OVER $500           | PARKING LOT/GARAGE(NON.RESID.) |   0    |    0     | 1323 |    12    | 27.0 |          24.0         |    6    |  1171668.0   |  1905607.0   | 2010 | 41.89644677 | -87.64493868 | (41.896446772, -87.644938678) |
| 10769475 |   HZ534771  | 2016-11-30 |    050XX N KEDZIE AVE    | 810  |    THEFT     |           OVER $500           |             STREET             |   0    |    0     | 1713 |    17    | 33.0 |          14.0         |    6    |  1154133.0   |  1933314.0   | 2016 | 41.97284491 | -87.70860008 | (41.972844913, -87.708600079) |
| 4494340  |   HL793243  | 2005-12-16 |   005XX E PERSHING RD    | 860  |    THEFT     |          RETAIL THEFT         |       GROCERY FOOD STORE       |   1    |    0     | 213  |    2     | 3.0  |          38.0         |    6    |  1180448.0   |  1879234.0   | 2005 | 41.82387989 | -87.61350386 | (41.823879885, -87.613503857) |
| 3778925  |   HL149610  | 2005-01-28 |  100XX S WASHTENAW AVE   | 810  |    THEFT     |           OVER $500           |             STREET             |   0    |    0     | 2211 |    22    | 19.0 |          72.0         |    6    |  1160129.0   |  1838040.0   | 2005 | 41.71128051 | -87.6891791  | (41.711280513, -87.689179097) |
| 3324217  |   HK361551  | 2004-05-13 |   033XX W BELMONT AVE    | 820  |    THEFT     |         $500 AND UNDER        |       SMALL RETAIL STORE       |   0    |    0     | 1733 |    17    | 35.0 |          21.0         |    6    |  1153590.0   |  1921084.0   | 2004 | 41.93929582 | -87.71092344 | (41.939295821, -87.710923442) |
+----------+-------------+------------+--------------------------+------+--------------+-------------------------------+--------------------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+
Truncated to displaylimit of 10.

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [14]:
%%sql
SELECT COUNT(*) AS total_crimes
FROM CHICAGO_CRIME_DATA;

Running query in 'sqlite:///FinalDB.db'

+--------------+
| total_crimes |
+--------------+
|     533      |
+--------------+

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [16]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME 
FROM CENSUS_DATA 
WHERE PER_CAPITA_INCOME < 11000;

Running query in 'sqlite:///FinalDB.db'

+-----------------------+---------------------+-------------------+
| COMMUNITY_AREA_NUMBER | COMMUNITY_AREA_NAME | PER_CAPITA_INCOME |
+-----------------------+---------------------+-------------------+
|          26.0         |  West Garfield Park |       10934       |
|          30.0         |    South Lawndale   |       10402       |
|          37.0         |     Fuller Park     |       10432       |
|          54.0         |      Riverdale      |        8201       |
+-----------------------+---------------------+-------------------+

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [26]:
%%sql
SELECT CASE_NUMBER , DESCRIPTION , PRIMARY_TYPE
FROM CHICAGO_CRIME_DATA
WHERE DESCRIPTION LIKE '%MINOR%'

Running query in 'sqlite:///FinalDB.db'

+-------------+-------------------------------+----------------------+
| CASE_NUMBER |          DESCRIPTION          |     PRIMARY_TYPE     |
+-------------+-------------------------------+----------------------+
|   HL266884  | SELL/GIVE/DEL LIQUOR TO MINOR | LIQUOR LAW VIOLATION |
|   HK238408  |  ILLEGAL CONSUMPTION BY MINOR | LIQUOR LAW VIOLATION |
+-------------+-------------------------------+----------------------+

### Problem 4

##### List all kidnapping crimes involving a child?

In [27]:
%%sql
SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION, DATE
FROM CHICAGO_CRIME_DATA
WHERE PRIMARY_TYPE LIKE '%KIDNAPPING%'
  AND DESCRIPTION LIKE '%CHILD%';

Running query in 'sqlite:///FinalDB.db'

+-------------+--------------+--------------------------+------------+
| CASE_NUMBER | PRIMARY_TYPE |       DESCRIPTION        |    DATE    |
+-------------+--------------+--------------------------+------------+
|   HN144152  |  KIDNAPPING  | CHILD ABDUCTION/STRANGER | 2007-01-26 |
+-------------+--------------+--------------------------+------------+

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [29]:
%%sql
SELECT DISTINCT PRIMARY_TYPE , LOCATION_DESCRIPTION
FROM CHICAGO_CRIME_DATA
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

Running query in 'sqlite:///FinalDB.db'

+------------------------+---------------------------+
|      PRIMARY_TYPE      |    LOCATION_DESCRIPTION   |
+------------------------+---------------------------+
|        BATTERY         |  SCHOOL, PUBLIC, GROUNDS  |
|        BATTERY         |  SCHOOL, PUBLIC, BUILDING |
|    CRIMINAL DAMAGE     |  SCHOOL, PUBLIC, GROUNDS  |
|       NARCOTICS        |  SCHOOL, PUBLIC, GROUNDS  |
|       NARCOTICS        |  SCHOOL, PUBLIC, BUILDING |
|        ASSAULT         |  SCHOOL, PUBLIC, GROUNDS  |
|   CRIMINAL TRESPASS    |  SCHOOL, PUBLIC, GROUNDS  |
| PUBLIC PEACE VIOLATION | SCHOOL, PRIVATE, BUILDING |
| PUBLIC PEACE VIOLATION |  SCHOOL, PUBLIC, BUILDING |
+------------------------+---------------------------+

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [39]:
%%sql
SELECT "Elementary, Middle, or High School" AS SCHOOL_TYPE, AVG(SAFETY_SCORE) AS AVG_SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS
WHERE "Elementary, Middle, or High School" IN ('ES', 'MS', 'HS')
GROUP BY "Elementary, Middle, or High School";

Running query in 'sqlite:///FinalDB.db'

+-------------+-------------------+
| SCHOOL_TYPE |  AVG_SAFETY_SCORE |
+-------------+-------------------+
|      ES     | 49.52038369304557 |
|      HS     | 49.62352941176471 |
|      MS     |        48.0       |
+-------------+-------------------+

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [42]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5;

Running query in 'sqlite:///FinalDB.db'

+-----------------------+---------------------+----------------------------------+
| COMMUNITY_AREA_NUMBER | COMMUNITY_AREA_NAME | PERCENT_HOUSEHOLDS_BELOW_POVERTY |
+-----------------------+---------------------+----------------------------------+
|          54.0         |      Riverdale      |               56.5               |
|          37.0         |     Fuller Park     |               51.2               |
|          68.0         |      Englewood      |               46.6               |
|          29.0         |    North Lawndale   |               43.1               |
|          27.0         |  East Garfield Park |               42.4               |
+-----------------------+---------------------+----------------------------------+

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [45]:
%%sql
SELECT COMMUNITY_AREA_NUMBER
FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(*) DESC 
LIMIT 1;

Running query in 'sqlite:///FinalDB.db'

+-----------------------+
| COMMUNITY_AREA_NUMBER |
+-----------------------+
|          25.0         |
+-----------------------+

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [46]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE HARDSHIP_INDEX = (
    SELECT MAX(HARDSHIP_INDEX)
    FROM CENSUS_DATA
);

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|      Riverdale      |
+---------------------+

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [60]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER = (
    SELECT COMMUNITY_AREA_NUMBER
    FROM CHICAGO_CRIME_DATA
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(*) DESC
    LIMIT 1
);

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|        Austin       |
+---------------------+